<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings> 
		<add name="QuanLy_KyTucXa.Properties.Settings.QLKTXConnectionString" 
			 connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=QLKTX;Integrated Security=True" 
			 providerName="System.Data.SqlClient" />
		</connectionStrings>
</configuration>